<h1><%= @team.name %></h1>

<h3>Players</h3>
<ul>
  <% @team.players.each do |p| %>
    <li><%= p.name %></li>
  <% end %>
</ul>
<div class="controls">
  <%= link_to 'Back to Teams', teams_path %>
</div>
