<div class="container-fluid">
	<h1 class="mt-4">Players</h1>
	<ol class="breadcrumb mb-4">
	    <li class="breadcrumb-item"><%= link_to "Dashboard", admin_center_root_path %></li>
	    <li class="breadcrumb-item active">Players</li>
	</ol>
	<div class="card mb-4">
    <div class="row">
      <div class="col-sm-12 float-right">
        <%= link_to "Add Player", new_admin_center_player_path, class: "btn btn-primary float-right"%>
      </div>
    </div>
		<div class="card-header"><i class="fas fa-table mr-1"></i>Players</div>
		<div class="card-body">
	    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            <% @players.each do |player| %>
              <tr>
                <%= render partial: "player", locals: { player: player } %>
              </tr>
            <% end %>
          </tbody>
        </table>
	    </div>
		</div>
	</div>
</div>