<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="article-container">
  <h1>Add Article</h1>
  <div id="new-game-form">
    <%= render :partial => 'article_form' %>
  </div>

</div>
