<h1>Division Info</h1>
<p> <%= @division.division_number %> </p>
<p>
  Random Information about this division.
</p>

<div class="controls">
<%= link_to "Edit Division", edit_division_path(@division.id) %> |
<%= link_to "Delete Division", division_path(@division.id), :method => 'delete' %>
</div>
