<!-- Video Section Begin -->
<section class="video-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h3>Hot <span>Videos</span></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="video-slider owl-carousel">
        <div class="col-lg-3">
          <div class="video-item set-bg" data-setbg="assets/videos/video-1.jpg">
            <div class="vi-title">
              <h5>A World Of Infinite Opportunities</h5>
            </div>
            <a href="https://www.youtube.com/watch?v=dhYOPzcsbGM" class="play-btn video-popup">
            <%= image_tag "videos/play.png", alt: "" %>
            <div class="vi-time">11:13</div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="video-item set-bg" data-setbg="assets/videos/video-2.jpg">
            <div class="vi-title">
              <h5>Video Games Playing With Imagination</h5>
            </div>
            <a href="https://www.youtube.com/watch?v=dhYOPzcsbGM" class="play-btn video-popup">
            <%= image_tag "videos/play.png", alt: "" %>
            <div class="vi-time">11:13</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video Section End -->

