<% content_for :hero do %>
  <%= render partial: "breadcrumb_hero", locals: { title: "Match Results" } %>
<% end %>

<section class="schedule-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 left-blog-pad">
        <div class="schedule-text">
          <h4 class="st-title">World Cup 2019</h4>
          <div class="st-table">
            <table>
              <tbody>
                <tr>
                  <td class="left-team">
                    <img src="assets/schedule/flag-1.jpg" alt="">
                    <h4>Australia</h4>
                  </td>
                  <td class="st-option">
                    <div class="so-text">MetLife Stadium, Rutherford USA</div>
                    <h4>1 : 2</h4>
                    <div class="so-text">15 September 2019</div>
                  </td>
                  <td class="right-team">
                    <img src="assets/schedule/flag-2.jpg" alt="">
                    <h4>Qatar</h4>
                  </td>
                </tr>
                <tr>
                  <td class="left-team">
                    <img src="assets/schedule/flag-3.jpg" alt="">
                    <h4>Combodia</h4>
                  </td>
                  <td class="st-option">
                    <div class="so-text">MetLife Stadium, Rutherford USA</div>
                    <h4>0 : 1</h4>
                    <div class="so-text">15 September 2019</div>
                  </td>
                  <td class="right-team">
                    <img src="assets/schedule/flag-4.jpg" alt="">
                    <h4>France</h4>
                  </td>
                </tr>
                <tr>
                  <td class="left-team">
                    <img src="assets/schedule/flag-5.jpg" alt="">
                    <h4>Iceland</h4>
                  </td>
                  <td class="st-option">
                    <div class="so-text">MetLife Stadium, Rutherford USA</div>
                    <h4>2 : 2</h4>
                    <div class="so-text">15 September 2019</div>
                  </td>
                  <td class="right-team">
                    <img src="assets/schedule/flag-6.jpg" alt="">
                    <h4>Morocco</h4>
                  </td>
                </tr>
                <tr>
                  <td class="left-team">
                    <img src="assets/schedule/flag-9.jpg" alt="">
                    <h4>Brazil</h4>
                  </td>
                  <td class="st-option">
                    <div class="so-text">MetLife Stadium, Rutherford USA</div>
                    <h4>1 : 3</h4>
                    <div class="so-text">15 September 2019</div>
                  </td>
                  <td class="right-team">
                    <img src="assets/schedule/flag-10.jpg" alt="">
                    <h4>Qatar</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= render partial: "sidebar" %>
    </div>
  </div>
</section>