<div class="game-fixtures">
  <h1>Game Fixtures</h1>
  <table class="table table-sm table-hover table-inverse">
    <% @fixtures.each do | game | %>
      <tr>
        <td><%= game.team_a.name %></td>
        <td class="score"> - </td>
        <td class="score"> - </td>
        <td><%= game.team_b.name %></td>
      </tr>

    <% end %>
  </table>
</div>
