<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="new_game_container">
  <h1>Add Games</h1>
  <div id="new_game_form">
    <%= render :partial => 'form' %>
  </div>

</div>
