<div class="new_game_container">
  <h1>Add Games</h1>
  <div class="hide" id="new_game_form">
    <%= render :partial => 'form' %>
  </div>
  <button name="add_game" class="add_game">Add Game</button>

</div>
