<div class="container-fluid">
	<h1 class="mt-4">Teams</h1>
	<ol class="breadcrumb mb-4">
	    <li class="breadcrumb-item"><%= link_to "Dashboard", admin_center_root_path %></li>
	    <li class="breadcrumb-item active">Teams</li>
	</ol>
  <%= render "teams" %>
</div>