html {
  /* Size of largest container or bigger */
  min-width: 1080px;
}

header {
  background-color: #1A2930;
  margin-top: -10px;
}

.page-header {
  height: 70px;
  line-height: 70px;
  max-width: 1120px;
  margin: 0 auto;
  border-bottom: none;
}

nav {
  text-align: left;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  font-size: 16px;
  padding: 0 15px;
}

.menu-nav {
  display: inline-block;
  max-width: 600px;
  float: left;
}

.menu-nav li {
  display: inline-block;
  text-decoration: none;
}

.menu-user-nav {
  display: inline-block;
  max-width: 300px;
  float: right;
}

.menu-user-nav li {
  display: inline-block;
}

.container {
  padding: 10px;
}

.container h2 {
  padding-left: 10px;
}

.user-form {
  float: none;
  margin: 50px auto;
  border: 5px solid rgba(46, 109, 164, 0.3);
  border-radius: 5px;
  padding: 25px;
  text-align: center
}

#banner img{
  width: 100%;
  height: 400px;
}

.divisions {
  margin-left: 30px;
}

.table {
  max-width: 500px;
}

.table-inverse {
  color: #eceeef;
  background-color: #373a3c;
}
.table-inverse td {
  border-color: #55595c;
}

.table-inverse tr:hover, td:hover {
  color: #373a3c;
  background-color: #eceeef;
}

.table-inverse td.score {
  color: #373a3c;
  background-color: #eceeef;
  text-align: center;
}


.new_game_form {
  margin-bottom: 10px;
  margin-top: 10px;
}

.add_game {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.thumb img {
  width: 150px;
}

.user-form .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-form .btn-primary {
  width: 100%;
}

label {
  width: 150px;
  text-align: right;
}
////////////////// Table Stuff ////////////////////
table.test-table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(0,0,0,0.3);
 }
.tbl-content{
  // height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(46, 109, 164, 0.3);
  border-radius: 5px;
}
.test-table th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #337ab7;
  text-transform: uppercase;
}
.test-table td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #337ab7;
  border-bottom: solid 1px rgba(46, 109, 164, 0.1);
}

.test-table td a {
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  border-left: solid 1px;
}

//////////////// Footer Area //////////////////
.footer-distributed {
    background-color: #0A1612;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
    margin-top: 80px;
    color: #fff;
}
.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-links {
    color: #000;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-center {
    width: 35%;
}

.footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

///// Add Games CSS /////
.team-details {
  margin: 5px 0;
}

input:required {
  box-shadow: 0 0 2px rgba(200, 0, 0, 0.85);
}

select:required {
  box-shadow: 0 0 2px rgba(200, 0, 0, 0.85);
}
