.container {
  max-width: 960px;
  margin: 20px auto;
}

.team {
  width: 150px !important;
  display: inline-block !important;
}

.player {
  width: 150px !important;
  display: inline-block !important;
}
