<div class="ht-info">
  <ul>
    <li><%= Time.current.strftime("%H:%M - %B %-d, %Y") %></li>
   	<% unless current_user %> 
    	<li><%= link_to "Sign in",  new_user_session_path %></li>
    <% end %>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</div>